@model CCMS.Patients.PatientDto

<div class="modal fade" id="Edit-@Model.Id" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="Edit">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Patient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="mb-3">
                        <label class="form-label">Code</label>
                        <input class="form-control" name="Code" value="@Model.Code" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input class="form-control" name="FullName" value="@Model.FullName" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input class="form-control" name="Phone" value="@Model.Phone" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <select class="form-control" name="Gender" required>
                            <option value="">Select Gender</option>
                            @if (Model.Gender == "Male")
                            {
                                <option value="Male" selected>Male</option>
                            }
                            else
                            {
                                <option value="Male">Male</option>
                            }

                            @if (Model.Gender == "Female")
                            {
                                <option value="Female" selected>Female</option>
                            }
                            else
                            {
                                <option value="Female">Female</option>
                            }
                        </select>
                    </div>



                    <div class="mb-3">
                        <label class="form-label">Notes</label>
                        <textarea class="form-control" name="Notes" rows="3">@Model.Notes</textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-light" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
