@model CCMS.Stores.StoreDto

<div class='modal fade' id='Edit-@Model.Id' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog'><div class='modal-content'>
    <form method='post' asp-page-handler='Edit'>
      <div class='modal-header'><h5 class='modal-title'>Edit @Model.Name</h5><button type='button' class='btn-close' data-bs-dismiss='modal'></button></div>
      <div class='modal-body'>
        <input type='hidden' name='Id' value='@Model.Id' />
        <div class='mb-3'><label class='form-label'>Name</label><input class='form-control' name='Name' value='@Model.Name' required /></div>
        <div class='mb-3'><label class='form-label'>Location</label><input class='form-control' name='Location' value='@Model.Location' /></div>
        <div class='mb-3'><label class='form-label'>Description</label><textarea class='form-control' name='Description' rows='3'>@Model.Description</textarea></div>
      </div>
      <div class='modal-footer'><button class='btn btn-light' data-bs-dismiss='modal' type='button'>Cancel</button><button class='btn btn-primary' type='submit'>Save</button></div>
    </form>
  </div></div>
</div>
