@model CCMS.Staffing.StaffDto

<div class='modal fade' id='Edit-@Model.Id' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog'><div class='modal-content'>
    <form method='post' asp-page-handler='Edit'>
      <div class='modal-header'><h5 class='modal-title'>Edit @Model.FullName</h5><button type='button' class='btn-close' data-bs-dismiss='modal'></button></div>
      <div class='modal-body'>
        <input type='hidden' name='Id' value='@Model.Id' />
        <div class='mb-3'><label class='form-label'>Full Name</label><input class='form-control' name='FullName' value='@Model.FullName' required /></div>
        <div class='mb-3'><label class='form-label'>Role</label><input class='form-control' name='Role' value='@Model.Role' required /></div>
        <div class='mb-3'><label class='form-label'>Phone</label><input class='form-control' name='Phone' value='@Model.Phone' /></div>
        <div class='mb-3'><label class='form-label'>UserId</label><input class='form-control' name='UserId' value='@Model.UserId' /></div>
      </div>
      <div class='modal-footer'><button class='btn btn-light' data-bs-dismiss='modal' type='button'>Cancel</button><button class='btn btn-primary' type='submit'>Save</button></div>
    </form>
  </div></div>
</div>
